{% extends 'base.html.twig' %}

{% block title %}Author Show{% endblock %}

{% block body %}
<h1>Author Name</h1>
<table border="1" cellpadding="5" cellspacing="0">
    <tr>
        <th>Name</th>
    </tr>
    <tr>
        <td>{{ name }}</td>
    </tr>
</table>
{% endblock %}
